@import '../../../style/variables.scss';

#skills {
    .title-container {
        background: linear-gradient(-360deg, $brown, $light-brown);
    }

    .background {
        background-image: url("/images/pages-backgrounds/background-skills.png");
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
    }

    .background-image {
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        width: 100%;
        height: 100%;
        display: inline-flex;
    }

    .reactjs {
        background-image: url("/images/skills/react.svg");
    }
    .vuejs {
        background-image: url("/images/skills/vuejs.svg");
    }
    .nodejs {
        background-image: url("/images/skills/nodejs.svg");
    }
    .csharp {
        background-image: url("/images/skills/csharp.svg");
    }
    .unity {
        background-image: url("/images/skills/unity.svg");
    }
    .sass {
        background-image: url("/images/skills/sass.svg");
    }
    .javascript {
        background-image: url("/images/skills/javascript.svg");
    }
    .mongodb {
        background-image: url("/images/skills/mongodb.svg");
    }
    .git {
        background-image: url("/images/skills/git.svg");
    }
    .github {
        background-image: url("/images/skills/github.svg");
    }
    .gitlab {
        background-image: url("/images/skills/gitlab.svg");
    }
    .storybook {
        background-image: url("/images/skills/storybook.svg");
    }
    .typescript {
        background-image: url("/images/skills/ts.svg");
    }
    .svelte {
        background-image: url("/images/skills/svelte.svg");
    }
    .playwright {
        background-image: url("/images/skills/playwright.svg");
    }
    .flutter {
        background-image: url("/images/skills/flutter.svg");
    }
}