@import '../../../style/variables.scss';

#skills {
    .title-container {
        background: linear-gradient(-360deg, $brown, $light-brown);
    }

    .background {
        background-image: url(../../images/background-skills.png);
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
    }

    .background-image {
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        width: 100%;
        height: 100%;
        display: inline-flex;
    }

    .reactjs {
        background-image: url("images/react.svg");
    }
    .vuejs {
        background-image: url("images/vuejs.svg");
    }
    .nodejs {
        background-image: url("images/nodejs.svg");
    }
    .csharp {
        background-image: url("images/csharp.svg");
    }
    .unity {
        background-image: url("images/unity.svg");
    }
    .sass {
        background-image: url("images/sass.svg");
    }
    .javascript {
        background-image: url("images/javascript.svg");
    }
    .mongodb {
        background-image: url("images/mongodb.svg");
    }
    .git {
        background-image: url("images/git.svg");
    }
    .github {
        background-image: url("images/github.svg");
    }
    .gitlab {
        background-image: url("images/gitlab.svg");
    }
    .storybook {
        background-image: url("images/storybook.svg");
    }
    .typescript {
        background-image: url("images/ts.svg");
    }
    .svelte {
        background-image: url("images/svelte.svg");
    }
    .playwright {
        background-image: url("images/playwright.svg");
    }
}