#background {
    background-image: url(../assets/background.jpg);
    background-repeat: no-repeat;
    background-position: left;
    background-size: cover;
    overflow-x: hidden;
    transition: 2s;
    display: -webkit-inline-box;
    height: 100vh;

    @media screen and (max-width: 1024px) {
        position: relative;
    }

    #content {
        position: absolute;
        display: -webkit-inline-box;
        transition: .5s;
        left: 0;

        h2 {
            font-size: 4rem;
            line-height: 10rem;

            @media screen and (min-width: 1024px) {
                padding: 3rem 0;
                font-size: 6rem;
            }
        }
    }
}