#background {
    background-image: url("../assets/background-cv2.png");
    background-repeat: no-repeat;
    background-position: left;
    background-size: cover;
    overflow: hidden;
    position: relative;
    transition: 2s;
    display: -webkit-inline-box;

    @media screen and (min-width: 1024px) {
        padding: $global-padding;
        padding-top: $global-padding + $header-height;
    }

    #content {
        position: absolute;
        display: -webkit-inline-box;
        transition: .5s;
        left: 0;
    }
}