.pages {
    color: white;
    padding: 1rem;
    padding-top: $header-height;
    overflow-y: scroll;
    @media screen and (min-width: 1024px) {
        &::-webkit-scrollbar {
            display: none;
        }
    }
   
}

#home {
    display: -webkit-flex;
    align-items: flex-end;
    justify-content: flex-end;

    div {
        font-variant: small-caps;

        h1, h3 {
            text-align: right;
            line-height: 17vw;
            font-size: 20vw;
            width: 100%;
        }

        h3 {
            color: rgb(0, 209, 199);
        }

        @media screen and (min-width: 1024px) {
            h1, h3 {
                text-align: right;
                line-height: 11vw;
                font-size: 10vw;
            }
        }
    }
}

#about {
    p {
        padding: 1.8rem;
        text-align: justify;
        font-size: 2rem;

        @media screen and (min-width: 1024px) {
            font-size: 2.5rem;
            padding: 1.8rem 30rem;
        }
    }
}

#formations {
    h3 {
        font-size: 1.5rem;
        text-align: center;
        padding: 1.5rem 0;

        @media screen and (min-width: 1024px) {
            font-size: 3rem;
            padding: 3rem 2rem;
        }

        div {
            font-weight: 500;
            font-size: 1.1rem;

            @media screen and (min-width: 1024px) {
                font-size: 2rem;
            }
        }
    }
}

#skills {
    overflow-y: scroll;

    &::-webkit-scrollbar {
        display: none;
    }
    ul {
        padding-top: 1rem;

        li {
            padding: 1rem 2rem;
            font-size: 2.5rem;
            font-variant: small-caps;
            display: flex;
            align-items: center;
            justify-content: left;
        }
    }

    @media screen and (min-width: 1024px) {
        display: flex;

        .hard-skills, .soft-skills {
            width: 50vw;

            ul {
                li {
                    padding: 2rem 2rem;
                    font-size: 3rem;
                    padding-left: 20%;
                }
            }
        }
    }

    .html-css-js {
        background-image: url("../assets/icone-html-css-js.png");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        width: 9rem;
        height: 3rem;
        display: inline-flex;
        margin-right: 1rem;

        @media screen and (min-width: 1024px) {
            width: 13rem;
            height: 5rem;
            margin-right: 3rem;
        }
    }

    .background-image {
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        width: 3rem;
        height: 3rem;
        display: inline-flex;
        margin-right: 1rem;

        @media screen and (min-width: 1024px) {
            width: 6rem;
            height: 6rem;
            margin-right: 3rem;
        }
    }

    .c {
        background-image: url("../assets/icone-c.svg"); }
    .reactjs {
        background-image: url("../assets/icone-react.svg"); }
    .nodejs {
        background-image: url("../assets/icone-nodejs.svg"); }
    .cplusplus {
        background-image: url("../assets/icone-cplusplus.svg"); }
    .python {
        background-image: url("../assets/icone-python.svg"); }
    .unity {
        background-image: url("../assets/icone-unity.png"); }
    .photoshop {
        background-image: url("../assets/icone-photoshop.svg"); }
    .anglais {
        background-image: url("../assets/icone-anglais.png"); }
    .permis {
        background-image: url("../assets/icone-permis.png"); }
}

#projets {
    .project-content {
        flex-flow: row wrap; }
}