@import '../../../style/variables.scss';

.project-layout {
    padding-top: $header-height;
    background: linear-gradient(-360deg, $red, $light-red);

    h2 {
        font-size: 3rem;
        padding-top: 1rem;
        text-shadow: 0px 0px 10px rgba(0, 0,0, .5);
        @media screen and (min-width: 992px) {
            padding-top: 2rem;
            font-size: 5rem;
        }
    }

    .social, .back {
        a, i {
            font-size: 2rem;
            @media screen and (min-width: 992px) {
                font-size: 3rem;
            }
        }
    }

    #caroussel {
        margin: 2rem 0;
        box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.4);
        border-radius: 6px;
        @media screen and (min-width: 992px) {
            margin: 4rem 0;
        }

        div {
            border-radius: 6px;
        }
    }

    .project-description {
        font-size: 1.25rem;
        @media screen and (min-width: 992px) {
            font-size: 1.5rem;
        }

        .value {
            padding-bottom: 1.5rem;
        }

        p {
            color: rgb(243, 243, 243);
        }
    }
}