.box {
    position: relative;
    height: 20rem;
    max-width: 15rem;
    background: linear-gradient(-225deg, #d6ae7b, #e4bf90 75%);
    border: 1px solid #ffffff22;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    transition: .15s ease-in-out;

    &:hover {
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
        transition: .15s ease-in-out;
        transform: scale(1.04);
        // animation: balance_hover 1s ease-in-out;
        // -webkit-animation: balance_hover 1s ease-in-out;
        // animation-iteration-count: infinite;
        // -webkit-animation-iteration-count: infinite;
        .background-image {
            transition: .15s ease-in-out;
            transform: scale(1.15);
        }
    }

    span {
        color: #50330d;
        text-align: center;
        font-size: 1.75rem;
        text-shadow: none !important;
    }
}

.background-image {
    transition: .15s ease-in-out;
}