@import './variables';
@import '../base/typography';

html {
    font-size: $font-size;
    scroll-behavior: smooth;
}

body {
    margin: 0;
    font-family: $font;
    color: white;
    background-color: black;
}

a {
    text-decoration: none;
}

input, button {
    border: none;
    outline: none;
}

button {
    cursor: pointer;
    font-size: $font-size;
}

ul {
    list-style-type: none;
}

.app {
    transition: .4s ease-in-out;
    min-height: 100vh;

    h2 {
        font-size: 4rem;
        line-height: 10rem;

        @media screen and (min-width: 1024px) {
            padding: 3rem 0;
            font-size: 6rem;
        }
    }
}

.brown {
    background-color: $brown; }
.blue {
    background-color: $blue; }
.red {
    background-color: $red; }
.green {
    background-color: $green; }
.purple {
    background-color: $purple; }

.fl {
    display: flex;
    align-items: center;
    justify-content: center;
}

.flex-wrap {
    flex-wrap: wrap;
}

.underlined {
    border-bottom: 1px solid white;
    &:hover {
        position: absolute;
    }
}

.hidden {
  opacity: 0;
}

.cursor-pointer {
    &:hover {
        cursor: pointer;
    }
}

.small-caps {
    font-variant: small-caps;
}