
// Font
$font-size: 12px;
$font: "Lato", sans-serif;

// Sizing
$header-height: 6rem;
$global-padding: 2.5rem;

// Colors
$light-blue: #7fa7ec;
$blue: #5c8ad8;
$purple: #9a9abd;
$black: #09090c;
$orange: #ffc198;
$red: #aa5858;
$gray: #abc0a1;
$yellow: #e9db5a;