// Font
$font-size: 12px;

// Sizing
$header-height: 8rem;
$global-padding: 2.5rem;

// Colors
$light-blue: #7fa7ec;
$blue: #5c8ad8;
$light-purple: #c3c3f0;
$purple: #9a9abd;
$black: #09090c;
$light-orange: #e9c0a5;
$orange: #ffc198;
$light-red: #b36b6b;
$red: #aa5858;
$light-green: #b9d1d4;
$green: #94a7aa;
$yellow: #e9db5a;