@import '../../../style/variables.scss';

#work {
    .title-container {
        background: linear-gradient(-360deg, $red, $light-red);
    }

    .background {
        background-image: url(../../images/background-project.svg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
    }

    .content {
        box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.5);
    }
}