#projets .project-container {
  padding: 2rem 0rem;
  min-width: 100%; }
  @media (min-width: 768px) and (max-width: 1500px) {
    #projets .project-container {
      min-width: 50%;
      padding: 4rem 0; } }
  @media screen and (min-width: 1500px) {
    #projets .project-container {
      min-width: 33%; } }
  #projets .project-container .hide {
    top: -100% !important; }
  #projets .project-container .hideCard {
    position: absolute;
    flex-direction: column;
    width: 100%;
    background-color: #00d1c7;
    height: 100%;
    z-index: 2;
    top: 0;
    left: 0;
    transition: .3s ease-in-out;
    text-align: center;
    font-size: 2rem; }
    @media screen and (max-width: 1500px) {
      #projets .project-container .hideCard {
        font-size: 1.7rem; } }
    #projets .project-container .hideCard .cardTitle {
      font-weight: 700; }
    #projets .project-container .hideCard .cross {
      padding-top: 1rem;
      font-size: 2rem;
      cursor: pointer; }
  #projets .project-container .project-box {
    width: 15rem;
    height: 15rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2.5rem;
    transition: .2s ease-in-out;
    box-shadow: 0px 0px 20px #111;
    position: relative;
    overflow: hidden; }
    @media screen and (min-width: 1500px) {
      #projets .project-container .project-box {
        width: 20rem;
        height: 20rem; } }
    #projets .project-container .project-box .banner {
      position: absolute;
      background-color: rgba(80, 80, 80, 0.3);
      height: 30%;
      bottom: 0; }
      #projets .project-container .project-box .banner .info {
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 3rem;
        color: white; }
        #projets .project-container .project-box .banner .info:hover {
          cursor: pointer; }
    #projets .project-container .project-box:hover {
      transition: .5s;
      width: 70vw;
      box-shadow: 0px 0px 60px #111;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      background-color: rgba(0, 0, 0, 0.2); }
      @media screen and (min-width: 768px) {
        #projets .project-container .project-box:hover {
          width: 30vw; } }
      @media screen and (min-width: 1500px) {
        #projets .project-container .project-box:hover {
          width: 20vw; } }
    #projets .project-container .project-box:hover.uj {
      background-image: url("../images/preview-brawhalla.png"); }
    #projets .project-container .project-box:hover.ggj {
      background-image: url("../images/epitechjam-background.png"); }
    #projets .project-container .project-box:hover.sk {
      background-image: url("../images/skipty-background.png"); }
    #projets .project-container .project-box:hover.bomberman {
      background-image: url("../images/bomberman-background.png"); }
    #projets .project-container .project-box:hover.epytodo {
      background-image: url("../images/epytodo-background.png"); }
    #projets .project-container .project-box:hover.epicture {
      background-image: url("../images/epicture-background.png"); }

#skills .background-image {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 3rem;
  height: 3rem;
  display: inline-flex;
  margin-right: 1rem; }
  @media screen and (min-width: 1024px) {
    #skills .background-image {
      width: 6rem;
      height: 6rem;
      margin-right: 3rem; } }

#skills .c {
  background-image: url("../images/icone-c.svg"); }

#skills .reactjs {
  background-image: url("../images/icone-react.svg"); }

#skills .vuejs {
  background-image: url("../images/icone-vue.png"); }

#skills .nodejs {
  background-image: url("../images/icone-nodejs.svg"); }

#skills .cplusplus {
  background-image: url("../images/icone-cplusplus.svg"); }

#skills .python {
  background-image: url("../images/icone-python.svg"); }

#skills .unity {
  background-image: url("../images/icone-unity.png"); }

#skills .photoshop {
  background-image: url("../images/icone-photoshop.svg"); }

#skills .anglais {
  background-image: url("../images/icone-anglais.png"); }

#skills .permis {
  background-image: url("../images/icone-permis.png"); }

.vertical-timeline-element--work h3 {
  font-size: 1.6rem;
  font-weight: 700; }

.vertical-timeline-element--work h4 {
  font-size: 1.3rem;
  font-weight: 500; }

.vertical-timeline-element--work p {
  font-size: 1.3rem; }

.skillBubble {
  padding: 0 .75rem;
  margin-right: .5rem;
  background-color: #d8d8d8;
  margin-bottom: .5rem;
  border-radius: 20px; }
