@font-face {
  font-family: "Lato";
  font-display: auto;
  src: url(../fonts/Lato/Lato-Light.ttf); }

.fl {
  display: flex;
  align-items: center;
  justify-content: center; }

.flex-wrap {
  flex-wrap: wrap; }

.align-items {
  align-items: center; }

.underlined {
  border-bottom: 1px solid white; }
  .underlined:hover {
    position: absolute; }

.hidden {
  opacity: 0; }

.fw {
  font-weight: 500; }

.fw-bold {
  font-weight: 700; }

.fw-black {
  font-weight: 900; }
