@font-face {
  font-family: "Lato";
  font-display: auto;
  src: url(../assets/font/Lato/Lato-Light.ttf); }

html {
  font-size: 12px;
  height: 100%;
  overflow-y: hidden; }

body {
  margin: 0;
  font-family: "Lato";
  height: 100%; }

#app {
  background-color: #231f20; }

.is-not-top {
  background-color: rgba(18, 42, 66, 0.9); }

#header {
  height: 6rem;
  position: fixed;
  z-index: 10;
  transition: .3s ease-in-out; }
  @media screen and (min-width: 1024px) {
    #header {
      padding: 0 2.5rem; } }
  #header .nav {
    display: flex;
    flex-flow: row; }
    #header .nav .navBrand {
      width: 30%; }
    #header .nav .end-nav {
      align-items: center;
      justify-content: center;
      padding-right: 2rem;
      display: flex;
      color: white; }
      #header .nav .end-nav .language {
        position: absolute;
        right: 0; }
        @media screen and (max-width: 1024px) {
          #header .nav .end-nav .language {
            padding: 1.5rem;
            bottom: 0; } }
        #header .nav .end-nav .language img {
          padding: .5rem; }
          #header .nav .end-nav .language img:hover {
            cursor: pointer; }
      #header .nav .end-nav #burger {
        color: white;
        background-color: transparent;
        position: relative;
        z-index: 10;
        transform: scale(1.5); }
      #header .nav .end-nav #nav-bar {
        font-size: 2rem;
        display: flex;
        position: relative;
        width: 100%; }
        @media screen and (max-width: 1023px) {
          #header .nav .end-nav #nav-bar {
            background: linear-gradient(130deg, rgba(13, 79, 82, 0.85), rgba(38, 117, 128, 0.85));
            position: absolute;
            top: 0;
            right: 0;
            height: 100vh;
            width: 100vw;
            padding: 5rem 2rem;
            display: none; } }
        #header .nav .end-nav #nav-bar span {
          font-size: 2.5rem;
          font-weight: 700;
          display: flex;
          align-items: center; }
        @media screen and (min-width: 1024px) {
          #header .nav .end-nav #nav-bar span {
            position: relative;
            padding-bottom: .3rem;
            color: #fff;
            text-decoration: none; }
            #header .nav .end-nav #nav-bar span:hover {
              color: #fff;
              cursor: pointer; }
            #header .nav .end-nav #nav-bar span::before {
              content: "";
              position: absolute;
              width: 100%;
              height: 1px;
              bottom: 0;
              left: 0;
              background-color: #fff;
              visibility: hidden;
              transform: scaleX(0);
              transition: all 0.3s ease-in-out 0s; }
            #header .nav .end-nav #nav-bar span:hover::before {
              visibility: visible;
              transform: scaleX(1); } }
        #header .nav .end-nav #nav-bar li {
          font-variant: small-caps;
          padding: 1rem 2rem; }
          @media screen and (min-width: 1024px) {
            #header .nav .end-nav #nav-bar li {
              display: inline; } }

.full-height {
  height: 100%; }

.full-width {
  width: 100%; }

.fl {
  display: flex;
  align-items: center;
  justify-content: center; }

.scale {
  transform: scale(2); }

.underlined {
  border-bottom: 1px solid white; }

.hidden {
  opacity: 0; }

@media screen and (min-width: 1024px) {
  .padding-sections {
    padding-top: 8.5rem; } }

#projets .project-container {
  padding: 2rem 0rem;
  min-width: 100%; }
  @media (min-width: 768px) and (max-width: 1500px) {
    #projets .project-container {
      min-width: 50%;
      padding: 4rem 0; } }
  @media screen and (min-width: 1500px) {
    #projets .project-container {
      min-width: 33%; } }
  #projets .project-container .hide {
    top: -100% !important; }
  #projets .project-container .hideCard {
    position: absolute;
    flex-direction: column;
    width: 100%;
    background-color: #00d1c7;
    height: 100%;
    z-index: 2;
    top: 0;
    left: 0;
    transition: .3s ease-in-out;
    text-align: center;
    font-size: 2rem; }
    @media screen and (max-width: 1500px) {
      #projets .project-container .hideCard {
        font-size: 1.7rem; } }
    #projets .project-container .hideCard .cardTitle {
      font-weight: 700; }
    #projets .project-container .hideCard .cross {
      padding-top: 1rem;
      font-size: 2rem;
      cursor: pointer; }
  #projets .project-container .project-box {
    width: 15rem;
    height: 15rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2.5rem;
    transition: .2s ease-in-out;
    box-shadow: 0px 0px 20px #111;
    position: relative;
    overflow: hidden; }
    @media screen and (min-width: 1500px) {
      #projets .project-container .project-box {
        width: 20rem;
        height: 20rem; } }
    #projets .project-container .project-box .banner {
      position: absolute;
      background-color: rgba(80, 80, 80, 0.3);
      height: 30%;
      bottom: 0; }
      #projets .project-container .project-box .banner .info {
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 3rem;
        color: white; }
        #projets .project-container .project-box .banner .info:hover {
          cursor: pointer; }
    #projets .project-container .project-box:hover {
      transition: .5s;
      width: 70vw;
      box-shadow: 0px 0px 60px #111;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      background-color: rgba(0, 0, 0, 0.2); }
      @media screen and (min-width: 768px) {
        #projets .project-container .project-box:hover {
          width: 30vw; } }
      @media screen and (min-width: 1500px) {
        #projets .project-container .project-box:hover {
          width: 20vw; } }
    #projets .project-container .project-box:hover.uj {
      background-image: url("../assets/preview-brawhalla.png"); }
    #projets .project-container .project-box:hover.ggj {
      background-image: url("../assets/epitechjam-background.png"); }
    #projets .project-container .project-box:hover.sk {
      background-image: url("../assets/skipty-background.png"); }
    #projets .project-container .project-box:hover.bomberman {
      background-image: url("../assets/bomberman-background.png"); }
    #projets .project-container .project-box:hover.epytodo {
      background-image: url("../assets/epytodo-background.png"); }
    #projets .project-container .project-box:hover.epicture {
      background-image: url("../assets/epicture-background.png"); }

#competences .background-image {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 3rem;
  height: 3rem;
  display: inline-flex;
  margin-right: 1rem; }
  @media screen and (min-width: 1024px) {
    #competences .background-image {
      width: 6rem;
      height: 6rem;
      margin-right: 3rem; } }

#competences .c {
  background-image: url("../assets/icone-c.svg"); }

#competences .reactjs {
  background-image: url("../assets/icone-react.svg"); }

#competences .vuejs {
  background-image: url("../assets/icone-vue.png"); }

#competences .nodejs {
  background-image: url("../assets/icone-nodejs.svg"); }

#competences .cplusplus {
  background-image: url("../assets/icone-cplusplus.svg"); }

#competences .python {
  background-image: url("../assets/icone-python.svg"); }

#competences .unity {
  background-image: url("../assets/icone-unity.png"); }

#competences .photoshop {
  background-image: url("../assets/icone-photoshop.svg"); }

#competences .anglais {
  background-image: url("../assets/icone-anglais.png"); }

#competences .permis {
  background-image: url("../assets/icone-permis.png"); }

#background {
  background-image: url(../assets/background.jpg);
  background-repeat: no-repeat;
  background-position: left;
  background-size: cover;
  overflow-x: hidden;
  transition: 2s;
  display: -webkit-inline-box;
  height: 100vh; }
  @media screen and (max-width: 1024px) {
    #background {
      position: relative; } }
  #background #content {
    position: absolute;
    display: -webkit-inline-box;
    transition: .5s;
    left: 0; }
    #background #content h2 {
      font-size: 4rem;
      line-height: 10rem; }
      @media screen and (min-width: 1024px) {
        #background #content h2 {
          padding: 3rem 0;
          font-size: 6rem; } }

.pages {
  color: white;
  padding: 1rem;
  padding-top: 6rem;
  overflow-y: scroll; }
  @media screen and (min-width: 1024px) {
    .pages::-webkit-scrollbar {
      display: none; } }

#home {
  display: -webkit-flex;
  align-items: flex-end;
  justify-content: flex-end; }
  #home div {
    font-variant: small-caps; }
    #home div h1, #home div h3 {
      text-align: right;
      line-height: 17vw;
      font-size: 20vw;
      width: 100%; }
    #home div h3 {
      color: #00d1c7; }
    @media screen and (min-width: 1024px) {
      #home div h1, #home div h3 {
        text-align: right;
        line-height: 11vw;
        font-size: 10vw; } }

#about p {
  padding: 1.8rem;
  text-align: justify;
  font-size: 2rem; }
  @media screen and (min-width: 1024px) {
    #about p {
      font-size: 2.5rem;
      padding: 1.8rem 30rem; } }

#formations h3 {
  font-size: 1.5rem;
  text-align: center;
  padding: 1.5rem 0; }
  @media screen and (min-width: 1024px) {
    #formations h3 {
      font-size: 3rem;
      padding: 3rem 2rem; } }
  #formations h3 div {
    font-weight: 500;
    font-size: 1.1rem; }
    @media screen and (min-width: 1024px) {
      #formations h3 div {
        font-size: 2rem; } }

#skills {
  overflow-y: scroll; }
  #skills::-webkit-scrollbar {
    display: none; }
  #skills ul {
    padding-top: 1rem; }
    #skills ul li {
      padding: 1rem 2rem;
      font-size: 2.5rem;
      font-variant: small-caps;
      display: flex;
      align-items: center;
      justify-content: left; }
  @media screen and (min-width: 1024px) {
    #skills {
      display: flex; }
      #skills .hard-skills, #skills .soft-skills {
        width: 50vw; }
        #skills .hard-skills ul li, #skills .soft-skills ul li {
          padding: 2rem 2rem;
          font-size: 3rem;
          padding-left: 20%; } }
  #skills .html-css-js {
    background-image: url("../assets/icone-html-css-js.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 9rem;
    height: 3rem;
    display: inline-flex;
    margin-right: 1rem; }
    @media screen and (min-width: 1024px) {
      #skills .html-css-js {
        width: 13rem;
        height: 5rem;
        margin-right: 3rem; } }

#projets .project-content {
  flex-flow: row wrap; }
