@font-face {
  font-family: "Lato";
  font-display: auto;
  src: url(../assets/font/Lato/Lato-Light.ttf); }

html {
  font-size: 12px;
  height: 100%; }

body {
  margin: 0;
  font-family: "Lato";
  height: 100%; }

#app {
  background-color: #231f20; }

.anime-white-screen {
  animation: white-screen .4s; }
