.full-height {
  height: 100%; }

.full-width {
  width: 100%; }

.fl {
  display: flex;
  align-items: center;
  justify-content: center; }

.scale {
  transform: scale(2); }

.underlined {
  border-bottom: 1px solid white; }

.hidden {
  opacity: 0; }
