@import '../utilities/variables';

#header {
    height: $header-height;
    position: fixed;
    z-index: 100;
    transition: .3s ease-in-out;
    @media screen and (min-width: 1024px) {
        padding: 0 $global-padding;
    }

    #nav {
        position: relative;
        display: flex;
        flex-flow: row;

        .navBrand {
            width: 30%;
        }

        .end-nav {
            align-items: center;
            justify-content: center;
            padding-right: 2rem;
            display: flex;
            color: white;

            .languages {
                position: absolute;
                top: 25%;
                right: 0;
                @media screen and (max-width: 1024px) {
                    padding: 1.5rem;
                    bottom: 0;
                }
            }

            #burger {
                color: white;
                background-color: transparent;
                position: relative;
                z-index: 10;
                transform: scale(1.5);
            }

            #nav-bar {
                font-size: 2.5rem;
                display: flex;
                position: relative;
                width: 100%;
                @media screen and (max-width: 1023px) {
                    background: linear-gradient(130deg, rgba(13, 79, 82, .85), rgba(38, 117, 128, .85));
                    position: absolute;
                    top: 0;
                    right: 0;
                    height: 100vh;
                    width: 100vw;
                    padding: 5rem 2rem;
                    display: none;
                }

                li {
                    a {
                        font-size: 2.5rem;
                        display: flex;
                        align-items: center;
                    }
                }

                a {
                    @media screen and (min-width: 1024px) {
                        position: relative;
                        padding-bottom: .3rem;
                        color: #fff;
                        text-decoration: none;

                        &:hover {
                            color: #fff;
                            cursor: pointer;
                        }

                        &::before {
                            content: "";
                            position: absolute;
                            width: 100%;
                            height: 1px;
                            bottom: 0;
                            left: 0;
                            background-color: #fff;
                            visibility: hidden;
                            transform: scaleX(0);
                            transition: all 0.3s ease-in-out 0s;
                        }

                        &:hover::before {
                            visibility: visible;
                            transform: scaleX(1);
                        }
                    }
                }

                li {
                    padding: 1rem 2rem;
                    @media screen and (min-width: 1024px) {
                        display: inline;
                    }
                }
            }
        }
    }
}