#home {
    .title-container {
        background: linear-gradient(-360deg, $green, $light-green);
    }

    .background {
        background-image: url(../../images/development.svg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
    }

    .subtitle {
        font-size: 2rem;
        text-transform: none;
        color: #ffffff;
        text-shadow: 2px 1px 5px rgba(0, 0, 0, 1);
        @media (min-width: 768px) {
            font-size: 3rem;
        }
        @media (min-width: 992px) {
            text-shadow: 2px 1px 10px rgba(97, 116, 112, .6);
            font-size: 4rem;
            color: #457680;
        }
    }
}