.pages {
    color: white;

    .title {
        z-index: 12;
        position: relative;
        font-size: 20rem;
        color: white;

        span {
            text-shadow: 1px 1px 3px rgb(204, 204, 204);
        }
    }

    .title-container {
        width: 100%;
        height: 100vh;

        .img-container {
            opacity: .75;
            position: absolute;
            max-width: 900px;
            max-height: 600px;
            width: 80%;
            height: 80%;
            left: 0;
            right: 0;
            bottom: 0;
            top: 0;
            margin: auto;
            z-index: 11;
        }
    }
}

#skills, #experiences, #projects, #about {
    .content {
        min-height: 100vh;
    }
}