.pages {
    color: white;

    .title {
        z-index: 12;
        position: relative;
        font-size: 3rem;
        color: white;
        line-height: 1;
        text-transform: uppercase;
        @media (min-width: 576px) {
            font-size: 5rem;
        }
        @media (min-width: 768px) {
            font-size: 7rem;
        }
        @media (min-width: 1200px) {
            font-size: 12rem;
        }
        @media (min-width: 1400px) {
            font-size: 15rem;
        }
    }

    span, i {
        text-shadow: 2px 1px 15px rgba(27, 27, 27, .7);
        @media (min-width: 992px) {
            text-shadow: 2px 1px 25px rgba(27, 27, 27, .5);
        }
    }

    .title-container {
        width: 100%;
        height: 100vh;

        .img-container {
            opacity: .5;
            position: absolute;
            max-width: 900px;
            max-height: 600px;
            width: 80%;
            height: 80%;
            left: 0;
            right: 0;
            bottom: 0;
            top: 0;
            margin: auto;
            z-index: 11;
            @media (min-width: 992px) {
                opacity: .5;
                font-size: 15rem;
            }
        }

        i {
            z-index: 13;
            font-size: 5rem;

            &:hover {
                animation: translate_hover 1s ease-in-out;
                animation-iteration-count: infinite;
            }
        }
    }
}

.content {
    min-height: 100vh;
}