@import '../../../style/variables.scss';

#experiences {
    .title-container {
        background: linear-gradient(-360deg, $blue, $light-blue);
    }

    .background {
        background-image: url("/images/pages-backgrounds/background-exp.png");
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
    }
}