.box {
    position: relative;
    height: 20rem;
    max-width: 15rem;
    background: linear-gradient(-225deg,  #f3d3a9 60%, $light-brown 50%);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
    border-radius: 5px;

    &:hover {
        animation: balance_hover 1s ease-in-out;
        -o-animation: balance_hover 1s ease-in-out;
        -moz-animation: balance_hover 1s ease-in-out;
        -webkit-animation: balance_hover 1s ease-in-out;
        animation-iteration-count: infinite;
        -o-animation-iteration-count: infinite;
        -moz-animation-iteration-count: infinite;
        -webkit-animation-iteration-count: infinite;
    }

    span {
        color: #50330d;
        text-align: center;
        font-size: 1.75rem;
        text-shadow: none !important;
    }
}