.project-banner {
    height: 33.33vh;
    overflow: hidden;

    .bg {
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        transition: .5s ease-out;
        -webkit-transition: .5s ease-out;
    }

    &:hover {
        .bg {
            transform: scale(1.05, 1.05);
            -ms-transform: scale(1.05, 1.05);
            -webkit-transform: scale(1.05, 1.05);
        }

        .opac-bg {
            opacity: 0;
        }
    }

    .opac-bg {
        background-color: $dark-red;
        opacity: .8;
        filter: none !important;
        transition: .5s ease-out;
        -webkit-transition: .5s ease-out;
    }

    h2 {
        z-index: 2;
        font-size: 3rem;
        @media (min-width: 992px) {
            font-size: 5rem;
        }
    }

    span {
        color: white;
        font-weight: 300;
    }
}