@import "../../style/variables";

#header {
    height: $header-height;
    position: fixed;
    z-index: 100;
    transition: .3s ease-in-out;
    -webkit-transition: .3s ease-in-out;
    @media screen and (min-width: 992px) {
        padding: 0 $global-padding;
        height: $header-height-lg;
    }

    ul {
        display: flex;
        display: -webkit-flex;
        align-items: space-around;
    }

    #nav {
        position: relative;
        display: flex;
        display: -webkit-flex;
        flex-flow: row;
        -ms-flex-flow: row;
        -webkit-flex-flow: row;
        font-size: 2rem;
        @media screen and (min-width: 1200px) {
            font-size: 2.5rem;
        }

        .navBrand {
            width: 30%;
        }

        .end-nav {
            position: relative;
            align-items: center;
            justify-content: center;
            display: flex;
            display: -webkit-flex;
            color: white;
            @media screen and (min-width: 992px) {
                padding-right: 2rem;
            }

            .languages {
                text-align: center;
                color: black;
                font-weight: 700;
                @media screen and (min-width: 992px) {
                    font-weight: 500;
                    color: white;
                    padding: 0;
                    position: absolute;
                    right: 0;
                    left: auto;
                }

                button {
                    font-size: inherit;
                    color: inherit;
                    background-color: inherit;
                }
            }

            ul {
                @media screen and (max-width: 991px) {
                    padding: 0;
                }
            }

            #nav-bar {
                position: relative;
                width: 100%;
                height: 100%;

                li {
                    a {
                        display: flex;
                        display: -webkit-flex;
                        align-items: center;
                    }
                }

                a {
                    @media screen and (min-width: 992px) {
                        position: relative;
                        padding-bottom: .3rem;
                        color: #fff;
                        text-decoration: none;

                        &:hover {
                            color: #fff;
                            cursor: pointer;
                        }

                        &::before {
                            content: "";
                            position: absolute;
                            width: 100%;
                            height: 1px;
                            bottom: 0;
                            left: 0;
                            background-color: #fff;
                            visibility: hidden;
                            transform: scaleX(0);
                            -ms-transform: scaleX(0);
                            -webkit-transform: scaleX(0);
                            transition: all 0.3s ease-in-out 0s;
                            -webkit-transition: all 0.3s ease-in-out 0s;
                        }

                        &:hover::before {
                            visibility: visible;
                            transform: scaleX(1);
                            -ms-transform: scaleX(1);
                            -webkit-transform: scaleX(1);
                        }
                    }
                }

                li {
                    @media screen and (min-width: 992px) {
                        padding: 1rem 2rem;
                    }
                }
            }
        }
    }
}