@import "variables";
@import "animations";

.pages {
    color: white;

    .title {
        z-index: 12;
        position: relative;
        font-size: 20rem;
        color: white;

        span {
            text-shadow: 1px 1px 3px rgb(204, 204, 204);
        }
    }

    .title-container {
        width: 100%;
        height: 100vh;

        .img-container {
            opacity: .75;
            position: absolute;
            max-width: 900px;
            max-height: 600px;
            width: 80%;
            height: 80%;
            left: 0;
            right: 0;
            bottom: 0;
            top: 0;
            margin: auto;
            z-index: 11;
        }
    }
}


#home {
    display: -webkit-flex;
    align-items: flex-end;
    justify-content: flex-end;

    .title-container {
        background: linear-gradient(-360deg, $gray, #c9dbc0);
    }

    div {
        font-variant: small-caps;

        h1, h3 {
            text-align: right;
            line-height: 17vw;
            font-size: 20vw;
            width: 100%;
        }

        h3 {
            color: rgb(0, 209, 199);
        }

        @media screen and (min-width: 1024px) {
            h1, h3 {
                text-align: right;
                line-height: 11vw;
                font-size: 10vw;
            }
        }
    }
}

#about {
    .title-container {
        background: linear-gradient(-360deg, $purple, #c3c3f0);
    }

    .about-background {
        background-image: url(../images/background-about.svg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
    }

    p {
        padding: 1.8rem;
        text-align: justify;
        font-size: 2rem;

        @media screen and (min-width: 1024px) {
            font-size: 2.5rem;
            padding: 1.8rem 30rem;
        }
    }
}

#formations {
    h3 {
        font-size: 1.5rem;
        text-align: center;
        padding: 1.5rem 0;

        @media screen and (min-width: 1024px) {
            font-size: 3rem;
            padding: 3rem 2rem;
        }

        div {
            font-weight: 500;
            font-size: 1.1rem;

            @media screen and (min-width: 1024px) {
                font-size: 2rem;
            }
        }
    }
}

#experiences {
    .title-container {
        background: linear-gradient(-360deg, $blue, $light-blue);
    }

    .experiences-background {
        background-image: url(../images/background-exp.png);
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
    }
}

#skills {
    .title-container {
        background: linear-gradient(-360deg, $orange, #e9c0a5);
    }

    .skills-background {
        background-image: url(../images/background-skills.png);
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
    }

    ul {
        padding-top: 1rem;

        li {
            padding: 1rem 2rem;
            font-size: 2.5rem;
            font-variant: small-caps;
            display: flex;
            align-items: center;
            justify-content: left;
        }
    }

    @media screen and (min-width: 1024px) {
        .hard-skills, .soft-skills {
            width: 50vw;
            max-width: 50%;

            ul {
                li {
                    padding: 2rem 2rem;
                    font-size: 3rem;
                    padding-left: 20%;
                }
            }
        }
    }

    .html-css-js {
        background-image: url("../images/icone-html-css-js.png");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        width: 9rem;
        height: 3rem;
        display: inline-flex;
        margin-right: 1rem;

        @media screen and (min-width: 1024px) {
            width: 13rem;
            height: 5rem;
            margin-right: 3rem;
        }
    }
}

#projets {
    .title-container {
        background: linear-gradient(-360deg, $red, #b36b6b);
    }

    .project-background {
        background-image: url(../images/background-project.svg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
    }

    .project-content {
        flex-flow: row wrap; }
}